* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vermelho: #cc0000;
  --vermelho-hover: #ff0000;
  --preto: #111111;
  --cinza-escuro: #1e1e1e;
  --cinza-medio: #2a2a2a;
  --borda: #333333;
  --branco: #ffffff;
  --branco-suave: #e0e0e0;
  --fonte-titulo:'Orbitron', sans-serif;
  --fonte-corpo: 'Poppins', sans-serif;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  font-family: 'Orbitron', sans-serif;
}